<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New-Pet</title>
</head>
<body>
<h1>Order a Pet</h1>

<form action="" method="post">

    <label class="col-sm-1 control-label"
    >Pet Name</label>
    <div class="col-sm-3">
        <check if="{{isset(@invalidName) }}">
            <p>Please enter a valid name</p>
        </check>
        <input type="text" name="pet-name" <check if="{{ isset(@name) }}"> value="{{@name}}"</check>>
    </div>

    <label class="col-sm-1 control-label"
           for="pet-color">Pet Color</label>
    <div class="col-sm-3">
        <check if="{{isset(@invalidColor) }}">
            <p>Please enter a valid color</p>
        </check>
        <select class="form-control" name="pet-color" id="pet-color">
            <option>-----Select-----</option>
            <repeat group="{{@colors}}" value="{{@colorOption}}">
                <option <check if="{{ @colorOption == @color }}">selected</check>  value="{{ @colorOption }}" > {{ @colorOption }}</option>
            </repeat>
        </select>
    </div>

    <label class="col-sm-1 control-label">Pet Type</label>
    <div class="col-sm-3">
        <check if="{{isset(@invalidType) }}">
            <p>Please enter a valid Type</p>
        </check>
        <input type="text" name="pet-type" <check if="{{ isset(@type) }}">value="{{@type}}"</check>>

    </div>

    <button type="submit" name="submit">Submit</button>

</form>

<check if="{{@success}}">
    <h2>Thank you for your order of a {{@type}} !</h2>
</check>

</body>
</html>